contribuciones.db
ultimo_reporte.html
sii_page_raw.html
sii_result_raw.html
sii_result2_raw.html
sii_screenshot.png
sii_result_screenshot.png
sii_result2_screenshot.png
Comunas_SII_Chile.xlsx
__pycache__/
*.pyc
